---
import Description from "../components/Description.astro";
import Social from "../components/Social.astro";
import Subtitle from "../components/Subtitle.astro";
---

<section class="bg-contacts bg-cover bg-no-repeat w-screen h-screen">
  <div class="wrapper">
    <div class="text-center">
      <Subtitle color="text-purpleColor" children="Contato" />
      <Description children="gostou do meu Trabalho?" />
      <p class="text-base500 font-sans text-base px-2">
        Entre em contato ou acompanhe as minhas redes sociais!
      </p>
    </div>
    <Social />
  </div>
</section>
