---
import Description from "../components/Description.astro";
import GridProjects from "../components/GridProjects.astro";
import Subtitle from "../components/Subtitle.astro";
---

<section class="wrapper">
  <div class="pt-16 text-center">
    <Subtitle color="text-redColor" children="Meu Trabalho" />
    <div class="pt-2 text-center">
      <Description children="Veja os Projetos em destaque" />
      <div>
        <GridProjects />
      </div>
    </div>
  </div>
</section>
