---
import Description from "../components/Description.astro";
import GridProjects from "../components/GridProjects.astro";
import Subtitle from "../components/Subtitle.astro";
---

<section id="projects" class="wrapper pt-20">
  <div class="mt-16 text-center">
    <Subtitle color="text-redColor" children="Meu Trabalho" />
    <div class="pt-2 text-center">
      <Description children="Veja os Projetos em destaque" />
      <div class="motion-preset-slide-left">
        <GridProjects />
      </div>
    </div>
  </div>
</section>
