---

---

<div class="wrapper flex justify-center">
  <footer class="flex-col py-3 gap-2">
    <p class="text-base500 font-sans font-medium text-sm">
      <span>Development by 🩶</span>
      <a
        href="https://www.linkedin.com/in/oliveira-emmanuel/"
        class="hover:text-blueColor transition-colors">Emmanuel Oliveira</a
      >
    </p>

    <div class="pt-2">
      <p class="text-base500 font-sans font-medium text-sm">
        &copy; Todos os Direitos Reservados | OFS
      </p>
    </div>
  </footer>
</div>
